<div id="login" layout="row" layout-align="center center" style="height: 70%;">
    <md-content style="width:350px; background: #eee;height: 300px; border-radius: 5px; overflow: hidden" layout="row"
                class="md-whiteframe-z4">
        <md-tabs style="background: #fafafa">
            <md-tab>
                <md-tab-label>
                    <h3><i class="fa fa-user"></i></h3>
                </md-tab-label>
                <div layout="row">
                    <md-content class="panel2" flex style="padding:0 10px;">
                        <form name="login_form" layout="column" layout-align="space-between" style="height: 230px;">
                            <md-text-float label="账号" class="line" ng-model="login.username"
                                           required></md-text-float>
                            <md-text-float label="密码" class="line" ng-model="login.password" required
                                           type="password"></md-text-float>
                            <md-checkbox style="text-align: center">记住我</md-checkbox>
                            <md-button ng-disabled="login_form.$invalid" class="md-primary md-raised"
                                       ng-click="Login(login)" id="login_button"
                                       style="width: 100%">登录
                            </md-button>
                        </form>
                    </md-content>
                </div>
            </md-tab>
            <!--<md-tab>-->
            <!--<md-tab-label>-->
            <!--<h3><i class="fa fa-key"></i></h3>-->
            <!--</md-tab-label>-->
            <!--<div layout="row">-->
            <!--<md-content class="panel2" flex style="padding:0 10px">-->
            <!--<form name="reg_form" layout="column" layout-align="space-between" style="height: 230px;">-->
            <!--<md-text-float label="账号" class="line" ng-model="reg.username" required></md-text-float>-->
            <!--<md-text-float label="密码" class="line" type="password"-->
            <!--ng-model="reg.password" required></md-text-float>-->
            <!--<md-radio-group ng-model="reg.gender" required style="text-align: center">-->
            <!--<md-radio-button value="1">男</md-radio-button>-->
            <!--<md-radio-button value="2">女</md-radio-button>-->
            <!--</md-radio-group>-->
            <!--<md-button ng-disabled="reg_form.$invalid" class="md-primary md-raised" id="reg_button"-->
            <!--style="width: 100%" ng-click="Reg(reg)">注册-->
            <!--</md-button>-->
            <!--</form>-->
            <!--</md-content>-->
            <!--</div>-->
            <!--</md-tab>-->
        </md-tabs>
    </md-content>
</div>