.api-sider { margin-top:30px;}
.api-sider ul {
    list-style: none;
    background: #eee
}

code {
    color: firebrick
}

pre code {
    display: block;
    color: #000;
    margin-bottom: 20px;
    overflow: auto;
}

#scrollToTop {
    font-size: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 72px;
    text-align: center
}

#scrollToTop:hover {
    background: #eee
}